{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}
{% block body %}
{{ include('search/_search.html.twig') }}
{% for i in categorie_cnt %}
<div class='col-{{12/categorie_cnt}}'>
 {%for projet in projets%}
{%if (projet.Categorie.id==i)%}
 {{projet.nom}}
{%endif%}
{%endfor%}

</div>
{%endfor%}
    <h1> liste des projets : {{categorie_cnt}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>categorie</th>
               <th>actions</th>
            </tr>
        </thead>
        <tbody>
                 {% for projet in projets  %}

            <tr>
                
                <td>{{ projet.nom }}</td>
               <td>{{projet.categorie.nom}}</td>
                <td>                   
                    <a href="{{ path('projet_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('projet_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    
        </tbody>
    </table>
    <a href="{{ path('projet_new') }}">Create new</a>
{% endblock %}
