{% extends 'base.html.twig' %}

{% block title %}Commantaire{% endblock %}

{% block body %}
    <h1>Commantaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commantaire.id }}</td>
            </tr>
            <tr>
                <th>Date_comm</th>
                <td>{{ commantaire.dateComm ? commantaire.dateComm|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Utlisateur</th>
                <td>{{ commantaire.utlisateur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commantaire_index') }}">back to list</a>

    <a href="{{ path('commantaire_edit', {'id': commantaire.id}) }}">edit</a>

    {{ include('commantaire/_delete_form.html.twig') }}
{% endblock %}
